# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.dev
env/.env.playground
.localConfigs.playground
.localConfigs
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/

# misc
.env
.deployment
.DS_Store

# Dev tool directories
devTools/

# Distribution repository clone (public repo)
Assistant-GPT-Teams/
Assistant-GPT-Teams
appPackage/*.backup
.project
.settings/.jsdtscope
.settings/org.eclipse.wst.jsdt.ui.superType.container
.settings/org.eclipse.wst.jsdt.ui.superType.name
